

/* colors */
$color-primario: whitesmoke ;
$color-secundario: yellowgreen ;
$color-terciario: black;
$color-cuarto: blueviolet ;

/* fuentes */
$font-family: 'Barlow', sans-serif ;
$font-title: 'Barlow', sans-serif ;
$titular-font-family: 'Barlow Semi Condensed', sans-serif;
$font-nav: 'Courier New', Courier, monospace ;
$font-footer: 'Courier New', Courier, monospace; 
$font-p: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font-little: "poppins", sans-serif ;

